<%- include("partials/head")%>
<body>
  <%- include("partials/navbar")%>

  <div class="container">
    <div class="row">
      <% result.forEach((post) => {%>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img src="<%= post.image %>" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text" style="max-width: 50ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;"><%= post.content %></p>
            <a href="/post/<%= post.id %>" class="btn btn-primary">
              View
            </a>
            <a href="/post/edit/<%= post.id %>" class="btn btn-success">
              Edit
            </a>
            <a href="/post/delete/<%= post.id %>" class="btn btn-danger" onclick="return confirm('Esta seguro de eliminar el post <%= post.title %>')">
              Delete
            </a>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
  </div>
</body>
<%- include("partials/footer")%>
